.bb-grid {
    display: grid;
    margin: 2vw;
    font-family: sans-serif;
    grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
    column-gap: 2vw;
    row-gap: 2vw;
}

#genreDropdown {
    color: black;
    background-color: white;
    border-color: #52A7FA;
    border-width: 3px;
    font-size: 22pt;
    font-weight: bolder;
    margin-top: 4px;
    margin-left: 40px;
    align-self: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bb-grid {
        display: grid;
        margin: 2vw;
        font-family: sans-serif;
        grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
        column-gap: 20px;
        row-gap: 20px;
    }
}