.bb-header {
    display: flex;
    width: 96vw;
    margin: 2vw;
    font-family: sans-serif;
    background-color: #52A7FA;
}

#logo {
    color: white;
    padding: 0.6em 1em 0.6em 1em;
    font-weight: normal;
    font-size: 40px;
    margin-left: 20px;
}

#countryDropdown {
    color: white;
    background-color: #52A7FA;
    border-color: white;
    border-width: 2px;
    font-size: 18pt;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 40px;
    align-self: center;
}
